/* styles.css */
body {
  font-family: Arial, sans-serif;
}
#fullOption {
  align-self: center;
  margin: 50px 10% 10% 50px;
}

.logo-container {
  position: absolute; /* Фиксированное положение */
  top: 20px; /* В верхнем углу */
  left: 900px; /* Справа */
  padding: 10px; /* Небольшой отступ вокруг логотипа */
}

.logo {
  width: 100px; /* Ширина логотипа */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  display: block; /* Чтобы логотип был на своей строке */
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info-item label {
  margin-right: 10px;
  font-weight: bold;
}

.info-value {
  display: inline-block;
  min-width: 200px;
  padding: 5px;
  border: 1px dashed black; /* Пунктирная рамка как на изображении */
  background-color: yellow; /* Жёлтый фон */
}

#myTable {
  max-width: 98%;
  border-collapse: collapse;
  margin: 1%;
}

#myTable,
#myTable th,
#myTable td {
  border: 1px solid black;
}

#myTable th,
#myTable td {
  padding: 8px;
  text-align: left;
}

#myTable th {
  background-color: #f2f2f2;
}

#myTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#myTable tr:hover {
  background-color: #e8e8e8;
}

button {
  margin-top: 10px;
  padding: 5px;
  font-size: medium;
}

img {
  max-width: 180px;
  min-width: 160px;
  height: auto;
}

select {
  padding: 5px;
  margin-right: 5px;
  font-size: larger;
}

/* Новые классы для управления шириной колонок */
.column-narrow {
  width: 10px;
  text-align: center;
} /* Узкая колонка */
.column-medium {
  min-width: 50px;
  max-width: 70px;

  text-align: center;
} /* Средняя колонка */
.column-wide {
  width: 180px;
  text-align: center;
} /* Широкая колонка */
.column-description {
  min-width: 550px;
}
